{{template "header" .}}
	<main role="main">
	<div class="container" id="content">
		<div class="jumbotron bg-gradient-secondary">
			<h1 class="mt-5">Explore modules made by our community</h1>
			<p class="lead">What are you going to build today?</p>
		</div>
		{{range .Modules}}
		<p><a href="/module/{{.ID}}">{{.Name}}</a> by {{.UserID}}</p>
		<p><a href="{{.RepoURL}}">{{.RepoURL}}</a></p>
		<p>{{.Description}}</p>
		<hr>
		<br>
		{{else}}
		<p>Nothing to see here yet, go <a href="/module/new">create</a> something!</p>
		{{end}}
	</div>
	</main>
{{template "footer" .}}
