{{define "footer"}}
    <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <p class="text-muted font-weight-lighter">Copyleft 2020 EDeA yada yada bla bla.<br><small>Proident nisi aute amet
          quis cupidatat quis amet enim et est. Elit elit amet consequat ad duis. Excepteur fugiat mollit ad anim
          laborum nulla eiusmod eu deserunt. Deserunt reprehenderit ex cillum tempor cillum nostrud veniam irure sunt
          dolor. Eiusmod voluptate commodo aute laboris magna officia excepteur Lorem et adipisicing incididunt fugiat
          sit. Cupidatat occaecat labore velit consequat cupidatat eiusmod dolor enim incididunt eiusmod non
          nostrud.</small></p>
    </div>
  </footer>

  <!-- Use the minified versions in prod -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/jquery.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap-table.js"></script>
</body>

</html>
{{end}}
