@import url('/css/fonts.css');
$font-family-base:'Open Sans';
$headings-font-family:'Quicksand';
$enable-grid-classes:true;
$secondary:#ef9d26;
$primary:#427588;
$info: #888;
$success:#28a745;
$danger:#d72638;
$light:#ececec;
$dark:#1a1a1a;
$enable-gradients:false;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;
$enable-shadows:true;
$enable-responsive-font-sizes:true;

.catbox {
    min-height: 4rem;
}

/*main {
    padding-top: 48px;
}*/

.fsrow {
    margin-left: 0;
    margin-right: 0;
    max-height: 80vh;
    // width: 98%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


@import '../../node_modules/bootstrap/scss/bootstrap.scss';
