{{template "header" .}}
	<main role="main">
	<div class="container" id="content">
		<div class="jumbotron bg-gradient-secondary">
			{{if .Self}}
			<h1 class="mt-5">Explore modules made by {{.Profile.DisplayName}}</h1>
			{{else}}
			<h1 class="mt-5">Explore modules made by you</h1>
			{{end}}
			<p class="lead">What are you going to build today?</p>
		</div>
		{{range .Modules}}
		<div class="flex-row pb-2">
			<div class="card">
				<div class="card-header">
					{{.Name}}
				</div>
				<div class="card-body">
					<p class="card-text">{{.Description}}</p>
					<a href="/module/{{.ID}}" class="card-link">View</a>
					<a href="{{.RepoURL}}" class="card-link">Repository</a>
					{{if .Private}}
					<p class="card-text"><small class="text-muted">Private</small></p>
					{{end}}
				</div>
			</div>
		</div>
		{{else}}
		<p>Nothing to see here yet, go <a href="/module/new">create</a> something!</p>
		{{end}}
	</div>
	</main>
{{template "footer" .}}
