{{define "footer"}}
    <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <p class="text-muted font-weight-lighter">Copyleft 🄯 2022 EDeA.<br><small><b>WARNING: </b>This is a test instance and data stored may disappear at any time without notice.</small></p>
    </div>
  </footer>

  <!-- Use the minified versions in prod. Order of loading JS matters. -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-table.min.js"></script>
  <script src="/js/edea.js"></script>
</body>

</html>
{{end}}
