{{template "header" .}}
	<main role="main">
	<div class="container" id="content">
		<div class="jumbotron bg-gradient-secondary">
			<h1 class="mt-5">Explore workbenches made by our community</h1>
			<p class="lead">What are you going to build today?</p>
		</div>
		{{range .Benches}}
		<div class="flex-row pb-2">
			<div class="card">
				<div class="card-header">
					{{icon "globe2"}}&nbsp;{{.Name}} by <a href="/bench/user/{{.UserID}}" class="card-link">{{.DisplayName}}</a>
				</div>
				<div class="card-body">
					<p class="card-text">{{.Description}}</p>
					<a href="/bench/{{.ID}}" class="card-link">View</a>
				</div>
			</div>
		</div>
		{{else}}
		<p>Nothing to see here yet, go <a href="/bench/new">create</a> something!</p>
		{{end}}
	</div>
	</main>
{{template "footer" .}}