{{template "header" .}}
<main role="main">
    <div class="container" id="content">
        <div class="jumbotron bg-gradient-secondary">
			<h1 class="mt-5">You don't have any benches yet.</h1>
		</div>
        <p>You can get <a href="/bench/new">started</a> right away!</p>
    </div>
</main>
{{template "footer" .}}
