{{template "header" .}}
  <main role="main">
    <div class="container" id="content">
	  <div class="flex-row">
		<h1>403 - Forbidden</h1>
        <p>Either your session ran out or you tried something that you shouldn't. Try <a href="/login">logging in</a> again.</p>
	  </div>
    </div>
  </main>
{{template "footer" .}}
