{{template "header_login" .}}
<main class="form-signin">
  <form action="/auth" method="post">
    <img class="mb-4" src="/img/icon.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <input type="hidden" id="state" name="state" value="{{ .State }}">
    <input type="hidden" id="redirect_uri" name="redirect_uri" value="{{ .RedirectURI }}">

    <div class="form-floating">
      <input class="form-control" type="text" id="user" name="user" value="">
      <label for="user">User</label>
    </div>

    <div class="form-floating">
      <input class="form-control" type="password" id="password" name="password">
      <label for="password">Password</label>
    </div>

    <button type="submit" class="btn btn-primary w-100">Submit</button>
    <p class="mt-5 mb-3 text-muted">🄯 2020–2022</p>
  </form>
</main>
</body>
