{{template "header" .}}
  <main role="main"> <!-- min-vh-100 is a hack to make footer stick below the screen. for some reason the standard way (mt-auto) did not work -->
    <div class="container"  id="content">
      <div class="jumbotron bg-primary text-white">
        <h1 class="mt-5">EDeA Generic View / Page Layout</h1>
        <p class="lead">This is where you would find help, if there was any...</p>
      </div>
      <p>Unfortunately you're on your own, for now.</p>
    </div>
  </main>
{{template "footer" .}}
