{{template "header" .}}
<main role="main">
  <!-- min-vh-100 is a hack to make footer stick below the screen. for some reason the standard way (mt-auto) did not work -->
  <form>
    <div class="container" id="content">
      {{if .Error}}
      <div class="flex-row">
        <div class="alert alert-danger" role="alert">
          {{.Error}}
        </div>
      </div>
      {{end}}
      <div class="row">
        <div class="col-12">
          <h1>Free-Text Search</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="enter search term here" aria-label="search input"
              aria-describedby="send-search-btn" focus oninput="searchbox_handler" name="searchbox">
            <button class="btn btn-outline-secondary" type="button" id="send-search-btn">Find</button>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col">
          <h2>Filters</h2>
        </div>
        <div class="col-8 d-lg-grid">
          <button class="btn btn-outline-light" disabled type="button" aria-label="apply filter" id="filter_apply_btn">Apply
            Filter</button>
        </div>
      </div>
      <div class="row" id="filters-row">
        <!-- placeholder. insert filter boxes here when rendered server-side. -->
      </div>
      <div class="row" id="hits-row">
        <div class="col-12">
          <h2>Results</h2>
        </div>
        <div class="col">
          <div id="hits">
            <table id="hits-table">
              <thead>

              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
{{template "footer" .}}