{{template "header" .}}
<main role="main">
    <div class="container" id="content">
        <div class="jumbotron bg-primary text-white">
            <h1 class="mt-5">404 - Bench not found</h1>
        </div>
        <p>{{.Error}}</p>
    </div>
</main>
{{template "footer" .}}