{{template "header" .}}
<main role="main">
	<div class="container" id="content">
		<div class="jumbotron bg-primary text-white d-none d-lg-block mb-2">
			<!-- .d-sm-none hides the element on mobile entirely. use it only for design. -->
			<h1 class="mt-5">{{.Bench.Name}}</h1>
			<p class="lead">{{.Bench.Description}}</p>
		</div>

		<div class="flex-row d-flex justify-content-end pb-2">
			<a href="/bench/fork/{{.Bench.ID}}" role="button" class="btn btn-primary">Fork</a>
			{{if eq .Bench.UserID .User.ID}}
			{{if .Bench.Active}}
			<a href="#" role="button" class="btn btn-success ml-2">Active</a>
			{{else}}
			<a href="/bench/activate/{{.Bench.ID}}" role="button" class="btn btn-info ml-2">Set Active</a>
			{{end}}
			<a href="/bench/merge/{{.Bench.ID}}" role="button" class="btn btn-warning ml-2">{{icon "download"}}&nbsp;Merge</a>
			<a href="/bench/update/{{.Bench.ID}}" role="button" class="btn btn-secondary ml-2">Update</a>
			<a href="/bench/delete/{{.Bench.ID}}" role="button" class="btn btn-danger ml-2">Delete</a>
			{{end}}
		</div>

		{{if gt (len .Modules) 0}}
		<div class="row mt-2">
			<div class="col-sm-12 col-md-6 mt-2">
				<div class="row">
					<div class="col-12 order-md-last">
						<!-- this area is shown at the top of the Bench when viewed on mobile, and on the bottom of the Bench list on larger screens. -->
						<div class="w-100 rounded border border-secondary small my-2 px-2 py-1">
							<!-- summary -->
							<div class="row no-gutters">
								<div class="col">
									<b>Total: </b>
								</div>
								<div class="col" id="total-modules">
									{{if eq (len .Modules) 1 }} 1 module {{else}} {{len .Modules}} modules{{end}},
								</div>
								<div class="col" id="total-area">
									1234 mm²,
								</div>
								<div class="col" id="total-components">
									73 components.
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="list-group" id="detail-tab" role="tablist">
							<!-- Here comes the list of modules. -->
							{{range .Modules}}
							<a href="#detail-module-{{.ID}}" class="list-group-item list-group-item-action" role="tab"
								data-toggle="list" id="detail-module-1-list" aria-controls="detail-module-{{.ID}}">
								<div class="d-flex w-100 justify-content-between">
									{{if .Module.Name}}
									<h5 class="mb-1">{{.Module.Name}}</h5>
									<small>67 mm²</small>
									{{else}}
									<h5 class="mb-1">This module was removed by its author</h5>
									{{end}}
								</div>
								{{if .Module.Name}}
								<p class="mb-1">{{.Module.Description}}</p>
								<small>by XY</small>
								{{else}}
								<p class="mb-1">Your configuration is still here until you can find a replacement or until you chose to remove this module.</p>
								{{end}}
							</a>
							{{end}}
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="tab-content mt-2" id="nav-tabContent">
					<div class="tab-pane fade show active" id="list-help" role="tabpanel" aria-labelledby="list-help">
						<p class="mt-5">
						<h3>Detail View</h3>
						Select a Module in order to show its details.</p>
					</div>

					{{range .Modules}}
					<div class="tab-pane fade" id="detail-module-{{.ID}}" role="tabpanel"
						aria-labelledby="detail-module-{{.ID}}-list">
						<small>Module Details</small>
						<h3>{{.Module.Name}}</h3>
						<p>{{.Module.Description}}</p>
						<!-- controls -->
						<div class="row">
							<div class="col">
								<a href="#content" class="btn btn-secondary d-md-none mx-4">Jump to top</a>
							</div>
							<div class="col">
								<a href="/bench/configure/{{.ID}}" class="btn btn-secondary mx-4">Configure Module</a>
							</div>
							<div class="col">
								<a href="/bench/remove/{{.ID}}" class="btn btn-danger mx-4">Remove Module</a>
							</div>
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<p>Show all Module READMEs here.</p>
		</div>
		{{else}}
		<div class="row mt-2">
			<p>Nothing to see here yet, go add some modules!</p>
		</div>
		{{end}}
	</div>
</main>
{{template "footer" .}}